* {
    margin: 0;
    padding: 0;
    font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
}

body {
    background-color: #000000;
    padding-top: 2.5vh;
    width: 100%;
    height: 90vh;
    display: flex;
}

div {
    margin: auto;
    width: calc(100% - 2px);
    height: 95vh;
    background-color: #98ad13;
    border: #006d00 solid 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

div div {
    border: none;
    margin: 3.5vh 0 0 0;
    background-color: #c1dec9;
    padding: 2vh 3vw auto 3vw;
    width: 99vw;
    height: 30vh;
    color: #0808ff;
    font-size: 26vh;
    font-weight: 900;
    text-align: center;
}

input {
    border: none;
    margin: 1.8vh 0 0 0;
    width: calc((98vw - 10vh)/2);
    height: 10vh;
    background-color: #dcde88;
    text-align: center;
    font-size: 7vh;
}

.tri {
    height: 25vh;
}

a, a:active, a:visited {
    margin-top: 9vh;
    color: #0808ff;
    font-size: 7vh;
    text-decoration: none;
}

#programs {
    width: 99vw;
}

#sleep {
    margin: 1.8vh 0.5vw 0 0.5vw;
    padding: 0;
    height: 10vh;
    width: 10vh;
    font-size: 7vh;
    background-color: darkslategrey;
    color: aliceblue;
    user-select: none;
}